<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="formEditar" (ngSubmit)="onSubmit()" novalidate>
                <div class="mb-3">
                    <label>Nombre:</label>
                    <input type="text" formControlName="nombre" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>E-Mail:</label>
                    <input type="email" formControlName="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Teléfono:</label>
                    <input type="text" formControlName="telefono" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>